@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'kufi-arabic';
    src: url('./fonts/noto-kufi-arabic-61eb13c9e3/ArbFONTS-22015-notokufiarabic-regular.ttf');  
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: 'Roboto' ,  'kufi-arabic';
    scroll-behavior: smooth;
    background: #aec3f060;
    overflow: hidden auto;
    direction: rtl;
    user-select: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #c70039;
}
header{
    padding: 10px 0;
    height: 40px;
    background: #c70039;
    width: 100%;
    z-index: 1;
    position: relative;

}
@keyframes fades{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
header h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 20px;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    user-select: none;
    font-family: 'Reem Kufi', sans-serif;
    line-height: normal;
    stroke: 100%;
}
header h1::after{
    content: '';
    position: absolute;
    background: white;
    width: 10px;
    height: 3px;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    animation: slideInRight 1s;
}
header h1 span{
    color: #00005c;
}
header button{
    cursor: pointer;
    outline: none;
    font-family: 'Roboto' , 'Tajawal';
    padding: 10px;
    background: #00005c;
    color: white;
    font-size: 15px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    animation: transs 1s;
    -webkit-animation: transs 1s;
    -moz-animation: transs 1s;
    -ms-animation: transs 1s;
    -o-animation: transs 1s;
}
header p{
    color: white;
    margin: auto;
    padding: 10px;
    position: relative;
}
.user-img{
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px 15px;
    background: #f3f3f3;
}
.user-img::after{
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    border-radius: 50%;
    background: rgb(0, 207, 52);
    content: '';
    margin: -2px;
}
.user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.user-data{
    width: 200px;
    height: auto;
    padding: 10px;
    background: #fdfdfd;
    border-radius: 0 0 10px 10px;
    position: fixed;
    top: 60px;
    right: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    display: none;
}
.user-data ul li{
    direction: ltr;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #f3f3f3;
    list-style: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.user-data ul li:last-child{
    border-bottom: 0;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}
.user-data span{
    background: #c3c3c3;
    width: 50%;
    height: 3px;
    position: absolute;
    display: block;
    margin: 10px auto;
    bottom: 0;
    left: 25%;
    cursor: pointer;
}

.user-data svg{
    width: 15px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.user-data .fa{
    margin-right: 5px;
    vertical-align: middle;
}
.banner{
    width: 100%;
    height: 60vh;
    background: url('https://images.pexels.com/photos/2272193/pexels-photo-2272193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h2{
    color: white;
    padding: 0 10px;
    user-select: none;
    font-weight: 500;
    position: relative;
}
.banner h2::after{
    content: '';
    width: 100px;
    height: 3px;
    background: #c70039;
    position: absolute;
    margin-top: 10px;    
    top: 100%;
    left: 50%;
    margin-left: -50px;
    animation: slideInleft 1s;
}
.banner h1{
    font-size: 100px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 5px;
    user-select: none;
    animation:slideInUp 1.5s;
}
/* Slide in right */
@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%); 
      -webkit-transform: translateX(-100%); 
      -moz-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      -o-transform: translateX(-100%); 
      margin-left: -25px;
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-webkit-keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%); 
      -webkit-transform: translateX(-100%); 
      -moz-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      -o-transform: translateX(-100%); 
      margin-left: -25px;
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-moz-keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%); 
      -webkit-transform: translateX(-100%); 
      -moz-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      -o-transform: translateX(-100%); 
      margin-left: -25px;
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-ms-keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%); 
      -webkit-transform: translateX(-100%); 
      -moz-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      -o-transform: translateX(-100%); 
      margin-left: -25px;
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-o-keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%); 
      -webkit-transform: translateX(-100%); 
      -moz-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      -o-transform: translateX(-100%); 
      margin-left: -25px;
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  /* Slide in left */
@keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(100%); 
      -webkit-transform: translateX(100%); 
      -moz-transform: translateX(100%); 
      -ms-transform: translateX(100%); 
      -o-transform: translateX(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-webkit-keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(100%); 
      -webkit-transform: translateX(100%); 
      -moz-transform: translateX(100%); 
      -ms-transform: translateX(100%); 
      -o-transform: translateX(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-moz-keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(100%); 
      -webkit-transform: translateX(100%); 
      -moz-transform: translateX(100%); 
      -ms-transform: translateX(100%); 
      -o-transform: translateX(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-ms-keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(100%); 
      -webkit-transform: translateX(100%); 
      -moz-transform: translateX(100%); 
      -ms-transform: translateX(100%); 
      -o-transform: translateX(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-o-keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(100%); 
      -webkit-transform: translateX(100%); 
      -moz-transform: translateX(100%); 
      -ms-transform: translateX(100%); 
      -o-transform: translateX(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  /* slide in up */
@keyframes slideInUp {
    0% {
      opacity: 0;
      transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      -moz-transform: scale(1.5); 
      -ms-transform: scale(1.5); 
      -o-transform: scale(1.5); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-webkit-keyframes slideInUp {
    0% {
      opacity: 0;
      transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      -moz-transform: scale(1.5); 
      -ms-transform: scale(1.5); 
      -o-transform: scale(1.5); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-moz-keyframes slideInUp {
    0% {
      opacity: 0;
      transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      -moz-transform: scale(1.5); 
      -ms-transform: scale(1.5); 
      -o-transform: scale(1.5); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-ms-keyframes slideInUp {
    0% {
      opacity: 0;
      transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      -moz-transform: scale(1.5); 
      -ms-transform: scale(1.5); 
      -o-transform: scale(1.5); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
  @-o-keyframes slideInUp {
    0% {
      opacity: 0;
      transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      -moz-transform: scale(1.5); 
      -ms-transform: scale(1.5); 
      -o-transform: scale(1.5); 
    }
    100% {
      opacity: 1;
      transform: none; 
      -webkit-transform: none; 
      -moz-transform: none; 
      -ms-transform: none; 
      -o-transform: none; 
    } 
  }
.banner h1 span{
    color: #c70039;
}
.container{
    width: 95%;
    height: auto;
    background: white;
    border-radius: 40px 40px 10px 10px ;
    margin: -30px auto;
    padding: 10px;
    margin-bottom: 20px !important;
}
.header{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #c3c3c3;
}
.content-box{
    padding: 15px 10px;
    width: 90%;
    margin: auto;
}
.bio{
    width: 100%;
    height: auto;
    margin: 20px auto;
    position: relative;
}
.bio::after{
    width: 50%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #c3c3c3;
    content: '';
    right: 25%;
    margin: -10px auto;
}
.bio p{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.group-form{
    width: 49%;
    height: 100px;
    display: inline-block;
    margin: auto;
    position: relative;
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
}
.group-input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
}
.group-input label[for='name']{
    padding: 10px;
    margin-right: 8px;
}
.group-input label[for='name'] span{
    color: #c70039;
}
.group-form input[type='text'] , input[type='email'] , input[type='date']{
    display: block;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 90%;
    margin: 5px auto;
    font-size: 15px;
    outline: none;
    background: #f3f3f3;
    color: black;
    box-shadow: 1px 10px 15px -10px #c3c3c3;
    font-family: 'Roboto' ,  'kufi-arabic';

}

.more{
    width: 100%;
    position: relative;
    padding: 10px;
}
.btn-more{
    padding: 10px;
    font-family: 'Roboto' ,  'kufi-arabic';
    display: block;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: #3b5998;
}
.btn-save{
    padding: 10px 20px;
    font-family: 'Roboto' ,  'kufi-arabic';
    display: block;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    color: white;
    background: #3b5998;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 0;
    font-size: 15px;
    transform: rotate(270deg) translateY(-250%);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
.group-input input:focus{
    outline: none;
    border: 3px solid #a1b9ec;
    box-shadow: 1px 10px 20px -10px #c3c3c3;
    height: 24px;
}
.dat{
    padding: 10px;
    font-family: 'Roboto' ,  'kufi-arabic';
    display: block;
    margin: auto;
    border: none;
    outline: none;
    color: white;
    background: #3b5998;
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 0;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    animation: trans 1s;
    -webkit-animation: trans 1s;
    -moz-animation: trans 1s;
    -ms-animation: trans 1s;
    -o-animation: trans 1s;
    text-align: left;
    direction: ltr;
}
@keyframes trans{
    from{
        transform: translateX(-300%);
    }to{
        transform: translateX(0);
    }
}
@-webkit-keyframes trans{
    from{
        transform: translateX(-300%);
    }to{
        transform: translateX(0);
    }
}
@-moz-keyframes trans{
    from{
        transform: translateX(-300%);
    }to{
        transform: translateX(0);
    }
}
@-ms-keyframes trans{
    from{
        transform: translateX(-300%);
    }to{
        transform: translateX(0);
    }
}
@-o-keyframes trans{
    from{
        transform: translateX(-300%);
    }to{
        transform: translateX(0);
    }
}
.dat li{
    list-style: circle;
    margin: 5px 20px;
}
.dat img{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin-right: 10px;
    vertical-align: middle;
}
.popup{
    position: fixed;
    top: 65px;
    right: 10px;
    padding: 10px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    /* background: #32e0c3de; */
    background: #b4f2e1;
    box-shadow: 1px 10px 10px -10px #000003;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.success{
    border-radius: 100px;
    border: 2px solid #3b5998;
    width: 50px;
    height: 50px;
    padding: 10px;
    position: relative;
    display: block;
    margin: 10px auto;
}
.box p{
    text-align: center;
    padding: 10px;
}
.success::after{
    width: 2px;
    height: 2px;
    border-left: 2px solid #3b5998;
    padding: 10px;
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -13px;
    margin-left: -20px;
    left: 50%; 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    animation: top .5s ease-in-out;
    -webkit-animation: top .5s ease-in-out;
    -moz-animation: top .5s ease-in-out;
    -ms-animation: top .5s ease-in-out;
    -o-animation: top .5s ease-in-out;
}

.success::before{
    width: 2px;
    height: 2px;
    border-right: 2px solid #3b5998;
    padding: 20px 15px;
    position: absolute;
    content: '';
    top: 35%;
    margin-top: -23px;
    margin-left: -22px;
    left: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    animation: .5s down;
    -webkit-animation: .5s down;
    -moz-animation: .5s down;
    -ms-animation: .5s down;
    -o-animation: .5s down;
}
.loading{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 7px;
    border-radius: 0 0 10px 10px;
    background: #3b5998;
    left: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    animation: load 2s;
    -webkit-animation: load 2s;
    -moz-animation: load 2s;
    -ms-animation: load 2s;
    -o-animation: load 2s;
}
.group-input input[type='file']{
    display: none;
}
.group-input label[for='profile'], label[for='cover']{
    width: 90%;
    background: #3b5998;
    color: white;
    text-align: center;
    padding: 15px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    box-shadow: 1px 10px 10px -10px #3b5998;
}
.group-input label[for='profile']:hover, label[for='cover']:hover{
    box-shadow: 1px 15px 10px -10px #3b5998;
}

@keyframes load{
    0%{
        width: 0;
    }
    0%, 25% , 50% , 75%{
        border-radius: 0 0 0 10px;
    }
    100%{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}
@-webkit-keyframes load{
    0%{
        width: 0;
    }
    0%, 25% , 50% , 75%{
        border-radius: 0 0 0 10px;
    }
    100%{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}
@-moz-keyframes load{
    0%{
        width: 0;
    }
    0%, 25% , 50% , 75%{
        border-radius: 0 0 0 10px;
    }
    100%{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}
@-ms-keyframes load{
    0%{
        width: 0;
    }
    0%, 25% , 50% , 75%{
        border-radius: 0 0 0 10px;
    }
    100%{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}
@-o-keyframes load{
    0%{
        width: 0;
    }
    0%, 25% , 50% , 75%{
        border-radius: 0 0 0 10px;
    }
    100%{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}
.container-signup{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: #f3f3f3;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.form-signup{
    width: 400px;
    height: auto;
    border-radius: 10px;
    background: white;
    padding: 10px;
    position: relative;
    animation: transs 1s;
    -webkit-animation: transs 1s;
    -moz-animation: transs 1s;
    -ms-animation: transs 1s;
    -o-animation: transs 1s;
    box-shadow: 1px 10px 20px -15px #8b8b8b;
}
@keyframes transs{
    from{
        transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%); 
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
 }
@-webkit-keyframes transs{
    from{
        transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%); 
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}
@-moz-keyframes transs{
    from{
        transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%); 
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}
@-ms-keyframes transs{
    from{
        transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%); 
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}
@-o-keyframes transs{
    from{
        transform: translateY(-100%);
         -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%); 
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
} 
.header-form{
    width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #c3c3c3;
    display: block;
    margin: auto;
}
.group-form-up{
    width: 90%;
    display: flex;
    margin: 20px auto;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}
.group-form-up form{
    width: 100%;
}
.group-form-up form p{
    text-align: center;
    padding: 5px 10px !important;
    color: #c70039;
}
.group-form-input{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    position: relative;
}
.group-form-input button{
    width: 95%;
    padding: 10px;
    font-family: 'Roboto' ,  'kufi-arabic';
    border: none;
    border-radius: 5px;
    background: #c70039;
    color: white;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 10px 10px -10px #c70039;
}
.group-form-up a{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: .5s ease-in-out;
    letter-spacing: 1px;
}
.group-form-input i{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    cursor: pointer;
}
.group-form-input input{
    display: block;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto' ,  'kufi-arabic';
    height: 30px;
    width: 90%;
    margin: 5px auto;
    font-size: 15px;
    outline: none;
    background: #eee;
    color: black;
    box-shadow: 1px 10px 10px -10px #c3c3c3;
}
.group-form-input input:focus{
    outline: none;
    border: 3px solid #a1b9ec;
    height: 23px;
    box-shadow: 1px 10px 15px -10px #c3c3c3;
}
.group-message{
    position: relative;
    height: 350px;
    width: 100%;
}
.group-message-form{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.group-message-form textarea{
    font-family: 'Roboto' ,  'kufi-arabic';
    width: 90%;
    height: 87%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f3f3f3;
    resize: none;
    outline: none;
    display: block;
    margin: auto;
    font-size: 15px;
    box-shadow: 1px 10px 15px -10px #c3c3c3;
}
.group-message-form textarea:focus{
    outline: none;
    border: 3px solid #a1b9ec;
    box-shadow: 1px 10px 20px -10px #c3c3c3;
}
footer{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 10px 0;
    background: #2a4683;
    position: relative;
    height: auto;
    text-align: center;
}
footer svg{
    width: 15px;
}
footer svg path{
    fill: #c70039;
}
footer a{
    color: #c70039;
}
footer p{
    padding: 10px;
    line-height: 20px;
}
@media screen and (max-width:460px){
    .form-signup{
        width: 90%;
    }
    .header-form p{
        padding: 10px;
    }
    .chat-container{
        width: 100%;
        padding: 0;
        height: auto !important;
    }
}
@media only screen and (max-width:667px){
    .banner h2{
        font-size: 20px;
    }
    .banner h1{
        font-size: 70px;
    }
    .group-form{
        display: block;
        width: 100%;
    }
    .container{
        width: 90%;
    }
}
