@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    background: #aec3f060;
    direction: rtl;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #c70039;
}
header{
    padding: 10px 0;
    height: 40px;
    position: relative;
    background: #c70039;
}
header h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px 20px;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    user-select: none;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 50px;
    stroke: 100%;
}
header h1::after{
    content: '';
    position: absolute;
    background: white;
    width: 10px;
    height: 3px;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    animation: slideInRight 1s;
}
header h1 span{
    color: #00005c;
}
header button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
    font-family: 'Tajawal';
    padding: 10px;
    background: #00005c;
    color: white;
    font-size: 15px;
    border: none;
    margin: 14px;
    border-radius: 4px;
    border-bottom: 3px solid #000003;
}
header p{
    color: white;
    margin: 0 auto;
    padding:10px;
    position: relative;
}

.banner{
    width: 100%;
    height: 60vh;
    /* background: url('https://images.pexels.com/photos/711009/pexels-photo-711009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
   /* background: url('https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); */
   /* background: url('https://images.pexels.com/photos/4476374/pexels-photo-4476374.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); */
    background: url('https://images.pexels.com/photos/2272193/pexels-photo-2272193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h2{
    color: white;
    padding: 0 10px;
    user-select: none;
    font-weight: 500;
    position: relative;
}
.banner h2::after{
    content: '';
    width: 100px;
    height: 3px;
    background: #c70039;
    position: absolute;
    margin-top: 10px;    
    top: 100%;
    left: 50%;
    margin-left: -50px;
    animation: slideInleft 1s;
}
.banner h1{
    font-size: 100px;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 5px;
    user-select: none;
    animation:slideInUp 1.5s;
}
@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-100%); 
      margin-left: -25px;
    }
    100% {
      opacity: 1;
      transform: none; 
    } 
  }
@keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
    } 
  }
@keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(100%); 
    }
    100% {
      opacity: 1;
      transform: none; 
    } 
  }
.banner h1 span{
    color: #c70039;
}
.facebook{
    background: #3b5998;
    position: fixed;
    padding: 10px;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.facebook::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-width: 5px;
    border-color:  transparent #3b5998 #3b5998 transparent;
    border-style: solid;
    margin-top: -10px;
}
.facebook a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: lighter;
    text-align: center;
}
.facebook svg{
    width: 20px;
    vertical-align: middle;
}
.container{
    width: 95%;
    height: auto;
    background: white;
    border-radius: 50px 50px 0 0;
    margin: -50px auto;
    padding: 10px;
}
.header{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #c3c3c3;
}
.content-box{
    padding: 15px 10px;
    width: 90%;
    margin: auto;
}
.bio{
    width: 100%;
    height: auto;
    margin: 20px auto;
    position: relative;
}
.bio::after{
    width: 50%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #c3c3c3;
    content: '';
    right: 25%;
}
.bio p{
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
}
.group-form{
    width: 49%;
    height: 100px;
    display: inline-block;
    margin: auto;
    position: relative;
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
}
.group-input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
}
.group-input label{
    padding: 10px;
    margin-right: 8px;
}
.group-input label span{
    color: #c70039;
}
.group-form input{
    display: block;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    border: none;
    font-family: 'Tajawal', sans-serif;
    height: 30px;
    width: 90%;
    margin: 5px auto;
    font-size: 15px;
    outline: none;
    background: #f3f3f3;
    color: black;
}
.more{
    width: 100%;
    position: relative;
    padding: 10px;
}
.btn-more{
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: #3b5998;
}
@media only screen and (max-width:667px){
    .banner h2{
        font-size: 20px;
    }
    .banner h1{
        font-size: 70px;
    }
    .group-form{
        display: block;
        width: 100%;
    }
    .container{
        width: 90%;
    }
}
